<!DOCTYPE html>
<html>
  <head>
    <title>CopyLink</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header></header>
    <main>
      <%= yield %>
    </main>
    <footer>
      <!-- app/assets/stylesheets/copy_link.css -->
      </br></br>
      <div>
        <%= image_tag 'icon_copy-link.svg', id: "copy-icon"%>
      </div>
      <div id="copy-link" class="hidden" ><%= @url %></div>
      <div id="copy-message" class="hidden" >URLリンクをコピーしました！</div>
    </footer>
  </body>
</html>
